/* dark blackish 2e3640 */
/* grey babdbf */
/* light whiteish f2f2f2 */
/* light kinda yellow f2ebdc */
/* hazelnut bfa08e */

body {
    font-family: "Karla", sans-serif;
    font-size: medium;
    font-weight: 300;
}

/* Header stuff here. */

header {
    background-color: #babdbf;
    padding: 1rem 2vw;
}

header h1{
    margin:0;
    color:#2e3640;
    text-align: center;
}
header p{
    margin: 0;
    color: #2e3640;
    text-align: center;
}

/* Navigation Section here. */

nav {
    background-color: #bfa08e;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #2e3640;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #f2f2f2;
    color: #2e3640;
}

nav a:hover {
    color: #f2f2f2;
}

/* Main Stuff Here */
main {
    padding: 1rem 2vw;
    background-color: #f2f2f2;
}
main h1 {
    color:#bfa08e;
    text-align: center;
}
main h2 {
    color:#2e3640;
    padding: 0 0 0 0;
    text-align: center;
}
main p {
    color:#2e3640;
    margin-top: .5rem;
}
main p.centered-paragraph {
    text-align: center;
}
main ol {
    margin: .5rem .5rem;
}
main dl dt {
    color: #bfa08e;
    font-weight: 700;
}
main dl dd {
    color: #2e3640;
    font-size: .9rem
}
main ul {
    list-style-type: none;
    text-align: center;
}
main ul li {
    line-height: 100%;
    margin-bottom: .5rem;
    font-size: 1rem
}

main address {
    font-style: normal;
    background-color: #f2f2f2;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #2e3640;
    border-radius: .5rem;
    text-align: center; 
    display: block; 
    margin: 0 auto; 
}
#projectmanager:hover {
    color: #bfa08e; 
}

main a {
    color: #bfa08e;
    font-weight: 400;
}
main a:hover {
    color: #2e3640;
}
/* Footer Stuff Here */
footer {
    background-color: #babdbf;
    text-align: center;
    color: #2e3640;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a{
    color: #2e3640;
}